/******* Colors *******/
$darkGrey     : #2d2e31;
$darkGrey35   : #212121;
$grey35       : #414141;
$black        : black;
$black35      : #101010;
$black65      : #212121;
$white        : white;
$white35      : #d4d2d2;
$purple       : #7500f7;
$blue         : #3f51b5;
$lightBlue    : #0096ef;
$lightGrey    : #414141;
$lighterGrey  : #505050;
$hotPink      : #f50057;
$aquaBlue     : #2f9cf3;
$red          : #b00020;
$green        : #4caf50;

$margin       : 20px;
$radius       : 5px;
